@import 'lib/stylesheets/tailwindcss/base.css';
@import 'lib/stylesheets/style.css';
@import 'lib/stylesheets/themes/primitives.css';
@import 'lib/stylesheets/themes/default.css';

@import 'lib/stylesheets/tailwindcss/components.css';
@import 'lib/stylesheets/components/c-btn.css';
@import 'lib/stylesheets/components/c-checkbox.css';
@import 'lib/stylesheets/components/c-input.css';
@import 'lib/stylesheets/components/c-radio.css';
@import 'lib/stylesheets/components/c-textarea.css';

@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: calc(1.6vmin + 0.1vmax);
    line-height: 1.5;

    color-scheme: light;
    color: theme('colors.fg.1');

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    font-size: theme('fontSize.4xl');
  }

  h2 {
    font-size: theme('fontSize.3xl');
  }

  h3 {
    font-size: theme('fontSize.2xl');
  }

  h4 {
    font-size: theme('fontSize.xl');
  }

  h5 {
    font-size: theme('fontSize.lg');
  }

  h6 {
    font-size: theme('fontSize.md');
  }

  sm {
    font-size: theme('fontSize.sm');
  }

  button,
  input {
    line-height: 1;
  }
}